.txtBlanco{
    color:#FFFFFF !important;
}

.txtNegro{
    color:#000000 !important;
}

.txtGris{
	color:#343A40 !important;
}

.degradado{
	background-color:#5D0227;
	background-image: linear-gradient(#5D0227,#343A40);
}

.slide-number{
	color:#006699 !important;
	font-weight: bolder !important;
}

.txtContenidos{ font-size: 1.5em !important; }

audio{
	position:relative; width:100%;
}

@media(min-width: 800px){
	#top-bar{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 45px;
		background-color: #FFF;
		z-index: 299;
    }
    
	#header{
        margin-top: 45px;
    }

    #header.sticky-header #header-wrap{
        top: 45px;
    }
}

@media(max-width: 800px){
	.txtBlancoMoviles{
		color:#FFF !important;
	}
}